body {  
 background-color: #000;    
 margin: 0;  
 overflow: hidden;  
 background-repeat: no-repeat;  
}
.name {
  position: relative;
  height: 160px;
  width: 152px;
  background-image: url("phuongthao.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}